h1 {
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: black;
    font-size: 30px;
    top: 50px;
    left: 70px;
}

p {
    position: absolute;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    top: 120px;
    left: 70px;
    color: crimson;
}

@media only screen and (max-width: 600px) {

    h1{
        left: 50px;
    }
    p {
        left: 50px;
    }
  }