<h1 (click)='play()' id="player">Play</h1>
<h1 (click)='stop()' id="player2">Stop</h1>
<audio id="snare" class="sound" src="../../assets/snare.mp3"></audio>
<audio id="clap" class="sound" src="../../assets/clap.mp3"></audio>
<audio id="hihat" class="sound" src="../../assets/hihat.mp3"></audio>
<audio id="kick" class="sound" src="../../assets/kick.mp3"></audio>

<input type="number" name="speed" id="speed" value="250" #spd>
<button (click)='validator()'>Loop {{ loop }}</button>

<table>
    <tr>
        <td (click)="activeSnare(0)" class="c1">{{snare[0]}} snare</td>
        <td (click)="activeSnare(1)" class="c2">{{snare[1]}}</td>
        <td (click)="activeSnare(2)" class="c3">{{snare[2]}}</td>
        <td (click)="activeSnare(3)" class="c4">{{snare[3]}}</td>
    <tr>
        <td (click)="activeClap(0)" class="c1">{{clap[0]}} clap</td>
        <td (click)="activeClap(1)" class="c2">{{clap[1]}}</td>
        <td (click)="activeClap(2)" class="c3">{{clap[2]}}</td>
        <td (click)="activeClap(3)" class="c4">{{clap[3]}}</td>
    </tr>
    <tr>
        <td (click)="activeKick(0)" class="c1">{{kick[0]}} kick</td>
        <td (click)="activeKick(1)" class="c2">{{kick[1]}}</td>
        <td (click)="activeKick(2)" class="c3">{{kick[2]}}</td>
        <td (click)="activeKick(3)" class="c4">{{kick[3]}}</td>
    </tr>
    <tr>
        <td (click)="activeHihat(0)" class="c1">{{hitat[0]}} hihat</td>
        <td (click)="activeHihat(1)" class="c2">{{hitat[1]}}</td> 
        <td (click)="activeHihat(2)" class="c3">{{hitat[2]}}</td>
        <td (click)="activeHihat(3)" class="c4">{{hitat[3]}}</td>
    </tr>

    <!-- <tr>
        <td style="text-align: center;">{{cur[0]}}</td>
        <td style="text-align: center;">{{cur[1]}}</td> 
        <td style="text-align: center;">{{cur[2]}}</td>
        <td style="text-align: center;">{{cur[3]}}</td>
    </tr> -->
</table>