<div class="grid-container">
    <div class="grid-item item1" (click)="clicked('v1')">Kick
        <div class="pad1">
            <audio id="v1" class="sound" src="../../assets/kick.mp3"></audio>
        </div>
    </div>

    <div class="grid-item item2" (click)="clicked('v2')">Clap
        <div class="pad2">
            <audio id="v2" class="sound" src="../../assets/clap.mp3"></audio>
        </div> 
    </div>
    <div class="grid-item item3" (click)="clicked('v3')">Hi-Hat
        <div class="pad3">
            <audio id="v3" class="sound" src="../../assets/hihat.mp3"></audio>
        </div> 
    </div>  
    <div class="grid-item item4" (click)="clicked('v4')" >Snare
        <div class="pad4">
            <audio id="v4" class="sound" src="../../assets/snare.mp3"></audio>
        </div> 
    </div>
</div>


