.home {
    background-color: white;
    position: absolute;
    height: 92%;
    width: 100%;
}

h1 {
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: black;
    font-size: 30px;
    top: 50px;
    left: 70px;
}

a {
    position: absolute;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    top: 170px;
    left: 70px;
    color: crimson;
}

img {
    position: absolute;
    height: 400px;
    top: 200px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    img {
        height: 300px;
    }

    h1{
        left: 50px;
    }
    a {
        left: 50px;
    }
  }